.countdown-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Đổi từ flex-end -> flex-start */
    padding: 0 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.countdown-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #6f3e76;
    transition: width 1s linear;
    z-index: -1;
}

.countdown-text {
    font-weight: bold;
    color: #fff;
}
